@import "assets/styles/colors.scss";

.LoadMore {
  background-color: transparent;
  color: $dark80;
  text-align: center;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    color: $dark-violet;
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
}
